

<div>
  <i></i>
  Expenses
</div>
<div>
  <table class="table-sm">
    <thead>
      <tr>
        <th>Reference</th>
        <th>Trans Date</th>
        <th>Post Date</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Category</th>
        <th>Action</th>
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let purchasedItem of purchasedItems">
        <app-purchase-item [purchasedItem]="purchasedItem" [categories]="categories" (updatePurchaseItem)="updatePurchaseItem($event)"></app-purchase-item>
      </tr>
    </tbody>
  </table>
</div>